*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ccc;
    font-family: sans-serif;
}
button{
    padding: 10px 20px;
    border: none;
    background-color: green;
    color: #fff;
}